<header>
  <nav class="navbar bg-dark border-bottom border-body fixed-top navbar-expand-lg sticky-top" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href="/">Tatan Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleMenu" aria-controls="navbarToggleMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggleMenu">
        <%= render partial: 'layouts/shared/left_menu' %>
        <%= render partial: 'layouts/shared/right_menu' %>
      </div>
    </div>
  </nav>
</header>
