<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
  <li class="nav-item">
    <%= link_to 'Products', root_path, class: "nav-link #{'active' if controller_name == 'products'}" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Orders', orders_path, class: "nav-link #{'active' if controller_name == 'orders'}" %>
  </li>
</ul>
