<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <h3>Your Orders</h3>
    <hr>

    <% if @orders.any? %>
      <table class="table">
        <thead>
          <th>Order Number</th>
          <th>Date</th>
          <th>Total</th>
          <th></th>
        </thead>
        <tbody>
          <%= render @orders %>
        </tbody>
      </table>

      <%= paginate @orders %>

    <% else %>
      <p>No orders to show</p>
    <% end %>
  </div>
</section>
