<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <h4>My Orders</h4>
    <hr>

    <table class="table">
      <thead>
        <th>Order Number</th>
        <th>Date</th>
        <th>Total</th>
        <th></th>
      </thead>
      <tbody>
        <%= render @orders %>
      </tbody>
    </table>
  </div>
</section>
