<h3>Cart</h3>
<hr>
<% if current_cart.line_items.any? %>
  <table class="table">
    <tbody>
      <%= render current_cart.line_items %>
    </tbody>
    <tfoot>
      <td></td>
      <td></td>
      <td>Total (<%= pluralize(current_cart.line_items_amount, 'item') %>):</td>
      <th class="text-end">$<%= current_cart.subtotal%></th>
    </tfoot>
  </table>

  <div class="d-flex flex-row-reverse align-items-center justify-content-between">
    <%= link_to 'Checkout', new_order_path, class: 'btn btn-outline-dark mt-auto' %>
  </div>
<% else %>
  <p>No items to show</p>
<% end %>
